extends /_unit/base-3.0.pug

append data
    -   var pageTitle = '周周刷'

append style
    link(rel="stylesheet",type="text/css",href=`${_static('public/swiper/swiper.min.css')}`)
    link(rel="stylesheet",type="text/css",href=`${_static('style/activity/2020/shop-everyweek/index.scss')}`)

block pageContent
    main.page-content
        .main-background
            a(href="#")
                .rule 活动规则
            a(href="#")
                .calendar 活动日历
        .main-countent
            .content-box.maintab
                #banner.prize
                    ul.banner-list.swiper-wrapper.tag.hided
                    .havechoosed.tag.hided
                        p.toptxt 截至
                         span.colr#today 2月2日
                         |，您的排名：
                         span.colr.big 199
                        p.btmtxt 排名第
                         span.colr.somebody 100
                         |位用户累计金砖数为：
                         span.colr.tagsum 900
                        .prizebox
                            .top
                                img(src=`${_static('data/image/activity/2020/shop-everyweek/product.png')}`, alt="")
                                .pbox
                                    p 您已选择奖品
                                        span.tagname 1 SONY PS4家庭游戏机
                                    p 参考市场价值
                                        span.tagval XXXX
                                        |元
                                    p 金砖排名前
                                        span.somebody 100
                                        |可获得
                            .btm
                                .btmitem
                                    p 开奖时间:
                                      span.tagtime 2019.01.20
                                .btmitem
                                    button.checkall 查看全部奖品
                    p 注：因数据存在延迟，排名仅供参考，不作为获奖依据。若金砖数一致，将根据消费金额进行排名。
                .goldbrick
                    .sum1.sum
                    .sum2.sum
                        .num
                            span.allbrick 0
                        a(href="./brick-list.html").brickdetail
                            p 金砖
                            p 明细
                    p.checkrule 每消费1000元增加一个金砖，
                        span 查看金砖规则
                    p.info 注：如发生交易退款，我行将在每月开奖前统一调减金砖
            .getmore.maintab
            .getmoreentry.maintab
                .entry.entry1
                    .entruimg
                        .time 开放时间：每周五至周日
                    .entryinfo 本周剩余次数
                        span.times 1
                        |次
                .entry.entry2
                    .entruimg
                        .time 开放时间：每月最后三天
                    .entryinfo
            p.gameinfo.maintab
                span.tit 游戏说明：
                br
                span 1、每消费1笔168元可玩1次魔力卡牌，每周5次机会，当周有效。
                br
                span 2、玩1次幸运矿车消耗1个周周刷金砖，无次数限制，若收下幸运矿车礼品，本月不参加排名奖，若放弃幸运矿车礼品，本月依然可用剩余金砖参加排名夺奖。
            .mygift
                .box
                    .item 5月
                    .item 6月
                    .item 7月
                    .item 8月
                    .item 9月
                    .item 10月
                .tabbox
                    .notjoin.com
                        p 本月未参与选奖
                        button.checkResult 查看开奖结果
                    .noprize.com
                        p 本月未能获奖
                        button.checkResult 查看开奖结果
                    .getadress.com.show
                        img(src=`${_static('data/image/activity/2020/shop-everyweek/mypro.png')}`, alt="")
                        p 恭喜获得：
                            span.spn1 SONY PS4 家庭游戏机
                            br
                            span.spn2 （幸运矿车抽奖获得）
                        button.comfirm 确认邮寄地址
                        button.checkResult 查看开奖结果
                    .logistics.com 
                        img(src=`${_static('data/image/activity/2020/shop-everyweek/mypro.png')}`, alt="")
                        p 恭喜获得：
                            span SONY PS4 家庭游戏机
                        button 查看物流
                        button.checkResult 查看开奖结果
                    .expect.com
                        p.one
                            span 6
                            |月奖品将在
                            span 7月10日
                            |开奖
                        br 
                        p 敬请期待！
block other
    script#banner-tpl(type="text/template")
        | {{#list}}
        li.swiper-slide
            .img-box
                .tagicon 
                    span {{time}}
                    |前可选
                .img(style="background:url('{{image}}') 0 0/100% 100% no-repeat",data-url="{{image}}")
                    .pbox
                        p {{name}}
                        p 价值{{val}}元
                p 排名前{{No}}可得
            button.choosebtn(name="{{id}}-{{name}}") 选我
        | {{/list}}      
    script(type="text/template",id='prize-layer-template')
        .prize-layer-content
            .layerimg
                img(src="{{img}}", alt="")
            p.tit {{name}}
            p.comp 市场价值{{val}}元
            p.comp 金砖排名前
                span {{No}}
                |可得
    script#address-tpl(type="text/template")
        .form-element.form-input
            .label 姓名 
            .cont
                input#phoneNm(type="tel" placeholder="请输入姓名" maxlength="11")
                .clear-btn
        .form-element.form-input
            .label 手机号
            .cont
                input#phoneNum(type="tel" placeholder="请输入手机号" maxlength="11")
                .clear-btn
        .form-element.form-input(style="height:80px;")
            .label 收货地址
            .cont(style="padding: 14px 0 15px 0;")
                textarea#address(type="tel" placeholder="请输入收货地址" style="font-family:auto")
                .clear-btn
        button.ui-btn.primary.block#btncomfirm 更改地址
append script
    script.
        var urlInfo = {
            // banner数据
            userInfoRequestUrl: '/activity/2020/shop-everyweek/userinfo.json',
            bannerInfoRequestUrl: '/activity/2020/shop-everyweek/bannerinfo.json',
            choosePrizeRequestUrl: '/activity/2020/shop-everyweek/chooseprize.json',
            myPrizeRequestUrl: '/activity/2020/shop-everyweek/mychooseprize.json',
            }
    script(src=`${_static('script/entry/activity/2020/shop-everyweek/index.js')}`)